body {
  background-color: rgba(0,0,0,0);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.container {
  /*background-color: hsla(300, 14%, 14%, 0.9);*/
  background: linear-gradient(-22deg, hsla(30, 100%, 30%, 0.6), hsla(270, 100%, 30%, 0.6));
  color: #333;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-app-region: drag;
}
.title-bar {
  z-index: 9999;
  /*-webkit-app-region: drag;*/
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
  color: white;
  line-height: 24px;
  font-size: 16px;
  position: fixed;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: calc(100% - 32px);
  height: 24px;
  width: 100%;
}
.title {
  position: fixed;
  top: 8px;
  left: 24px;
}
.title-bar-buttons {
  -webkit-app-region: no-drag !important;
  position: fixed;
  top: 0;
  right: 0;
  color: white;
}
.app-button {
  width: 48px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  transition: background-color 0.2s linear;
  background-color: rgba(255, 255, 255, 0);
  user-select: none;
  cursor: default;
  margin: 0;
  padding: 0;
}
.app-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.content {
  display: grid;
  grid-template-rows: [analyser] 1fr [info] 1fr;
  grid-template-columns: [col-start] 1fr [col-end] 0px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.analyser-container {
  grid-row: analyser;
  grid-column: col-start / col-end;
  display: grid;
  grid-template-columns: repeat(var(--analyser-bars), var(--bar-width));
  grid-template-rows: 1fr;
  grid-column-gap: var(--bar-gap);

  position: absolute;
  --width: calc((var(--bar-width) + var(--bar-gap)) * var(--analyser-bars) - var(--bar-gap));
  width: var(--width);
  height: calc(100% * var(--analyser-height));
  bottom: 0;
  left: calc((100% - var(--width)) / 2);

  transform: scaleY(-1);
}
.analyser-bar {
  background-color: white;
  box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}
.analyser-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
}
.info-container {
  grid-row: info;
  grid-column: col-start / col-end;
  color: white;
}
